@media (min-width: 1200px) {
  .erize-details-page {
    flex-grow: 1;
    .erize-details-content {
      .page-box {
        margin-top: 10px;
        border-radius: 8px;
        border: 1px solid #d5e4f0;
        background: #f2f7fb;
        .text-box {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 10px 15px 10px;
          p:first-child {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }

          .mid-text-s {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
            margin-left: 5px;
          }

          p:last-child {
            color: #595959;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .erize-details-text-box {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .left-side {
      width: 60%;
    }
    .right-side {
      width: 40%;

      .erize-details-action-box {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;

        .erize-details-erize-box {
          .d-main-box {
            .erize-name-label {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .ant-btn-primary {
              background: #7189bf !important;
            }
            p {
              margin-right: 10px;
              margin-bottom: 10px;
            }
            align-items: center;
          }

          min-height: 50px;
          padding-bottom: 30px;
          padding-left: 10px;
          padding-right: 10px;

          p {
            color: #595959;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }
        }

        .action-buttons-box {
          padding-left: 10px;
          display: flex;
          .download-btn {
            background: #7189bf;
            color: #f2f7fb;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
          }
          .edit-btn {
            border: 1px solid #ed8022;
            color: #ed8022;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 16px;
            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .image-gallery-image {
    width: 1000px;
    max-height: 350px;
    height: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .erize-details-page {
    flex-grow: 1;
    .erize-details-content {
      .page-box {
        margin-top: 10px;
        border-radius: 8px;
        border: 1px solid #d5e4f0;
        background: #f2f7fb;
        .text-box {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 10px 15px 10px;
          p:first-child {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }

          .mid-text-s {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
            margin-left: 5px;
          }

          p:last-child {
            color: #595959;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .erize-details-text-box {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    .left-side {
      width: 60%;
    }
    .right-side {
      width: 40%;

      .erize-details-action-box {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;

        .erize-details-erize-box {
          .d-main-box {
            .erize-name-label {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .ant-btn-primary {
              background: #7189bf !important;
            }
            p {
              margin-right: 10px;
              margin-bottom: 10px;
            }
            align-items: center;
          }

          min-height: 50px;
          padding-bottom: 30px;
          padding-left: 10px;
          padding-right: 10px;

          p {
            color: #595959;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }
        }

        .action-buttons-box {
          padding-left: 10px;
          display: flex;
          .download-btn {
            background: #7189bf;
            color: #f2f7fb;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
          }
          .edit-btn {
            border: 1px solid #ed8022;
            color: #ed8022;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 16px;
            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .image-gallery-image {
    width: 1000px;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .erize-details-page {
    flex-grow: 1;
    .erize-details-content {
      .page-box {
        margin-top: 10px;
        border-radius: 8px;
        border: 1px solid #d5e4f0;
        background: #f2f7fb;
        .text-box {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 10px 15px 10px;
          p:first-child {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }

          .mid-text-s {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
            margin-left: 5px;
          }

          p:last-child {
            color: #595959;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 5px;
          }
        }
      }
    }

    .erize-details-text-box {
      padding-top: 30px;
      padding-bottom: 50px;
      min-height: 665px;
      display: flex;
      flex-direction: column;
      .left-side {
        width: 100%;
        padding-bottom: 30px;
      }
      .right-side {
        width: 100%;
        .erize-details-action-box {
          padding-top: 12px;
          padding-bottom: 12px;

          .erize-details-erize-box {
            .erize-name-label {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .d-main-box {
              .ant-btn-primary {
                background: #7189bf !important;
              }
              p {
                margin-right: 10px;
                margin-bottom: 10px;
              }
              align-items: center;
            }

            min-height: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;

            p {
              color: #595959;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 5px;
            }
          }

          .action-buttons-box {
            padding-left: 10px;
            display: flex;
            .download-btn {
              background: #7189bf;
              color: #f2f7fb;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
            }
            .edit-btn {
              border: 1px solid #ed8022;
              color: #ed8022;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 16px;
              img {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .erize-details-page {
    flex-grow: 1;
    .erize-details-content {
      .page-box {
        margin-top: 10px;
        border-radius: 8px;
        border: 1px solid #d5e4f0;
        background: #f2f7fb;
        .text-box {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 10px 15px 10px;
          p:first-child {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }

          .mid-text-s {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
            margin-left: 5px;
          }

          p:last-child {
            color: #595959;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 5px;
          }
        }
      }
    }

    .erize-details-text-box {
      padding-top: 30px;
      padding-bottom: 50px;
      min-height: 665px;
      display: flex;
      flex-direction: column;
      .left-side {
        width: 100%;
        padding-bottom: 30px;
      }
      .right-side {
        width: 100%;
        .erize-details-action-box {
          padding-top: 12px;
          padding-bottom: 12px;

          .erize-details-erize-box {
            .erize-name-label {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .d-main-box {
              .ant-btn-primary {
                background: #7189bf !important;
              }
              p {
                margin-right: 10px;
                margin-bottom: 10px;
              }
              align-items: center;
            }

            min-height: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;

            p {
              color: #595959;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 5px;
            }
          }

          .action-buttons-box {
            padding-left: 10px;
            display: flex;
            .download-btn {
              background: #7189bf;
              color: #f2f7fb;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
            }
            .edit-btn {
              border: 1px solid #ed8022;
              color: #ed8022;
              font-size: 18px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 16px;
              img {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .erize-details-page {
    flex-grow: 1;
    .erize-details-content {
      .page-box {
        margin-top: 10px;
        border-radius: 8px;
        border: 1px solid #d5e4f0;
        background: #f2f7fb;
        .text-box {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 15px 10px 15px 10px;
          p:first-child {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
          }

          .mid-text-s {
            color: #5c71a6;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-right: 5px;
            margin-left: 5px;
          }

          p:last-child {
            color: #595959;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 5px;
          }
        }
      }
    }

    .erize-details-text-box {
      padding-top: 30px;
      padding-bottom: 50px;
      min-height: 665px;
      display: flex;
      flex-direction: column;
      .left-side {
        width: 100%;
        padding-bottom: 30px;
      }
      .right-side {
        width: 100%;
        .erize-details-action-box {
          padding-top: 12px;
          padding-bottom: 12px;

          .erize-details-erize-box {
            .erize-name-label {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 10px;
            }
            .d-main-box {
              .ant-btn-primary {
                background: #7189bf !important;
              }
              p {
                margin-right: 10px;
                margin-bottom: 10px;
              }
              align-items: center;
            }

            min-height: 50px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;

            p {
              color: #595959;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 5px;
            }
          }

          .action-buttons-box {
            padding-left: 10px;
            display: flex;
            .download-btn {
              background: #7189bf;
              color: #f2f7fb;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
            }
            .edit-btn {
              border: 1px solid #ed8022;
              color: #ed8022;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              margin-right: 16px;
              img {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
