#search {
  flex-grow: 1;

  .no-search-text {
    display: flex;
    flex-direction: column;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.search-results-boxes {
  padding-top: 20px;
  display: flex;
  .col-lg-3 {
    flex: 0 0 auto;
    width: 23%;
  }

  .sened-box {
    border: 1px solid #d9d7d7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    .sened-image {
      padding: 30px 50px 10px 50px;
      img {
        border: 1px solid #929292;
        border-radius: 8px;
      }
    }
    .sened-text {
      text-align: left;
      p {
        color: #242424;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
      margin-bottom: 20px;
    }

    .sened-buttons {
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 10px;
      gap: 30px;

      .box-details-btn {
        border-radius: 8px;
        border: 1px solid #7189bf;
        color: #7189bf;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        display: flex;
        padding: 10px 20px;
        width: 80%;

        justify-content: center;
        align-items: center;
      }

      .download-btn {
        border-radius: 8px;
        background: #7189bf;
        color: #f2f7fb;
        font-size: 20px;
        width: 80%;

        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 1500px) {
  .search-results-boxes {
    display: flex;
    flex-wrap: wrap;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 23%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sened-image {
        text-align: center;
        padding: 20px 10px 10px 10px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        min-width: 100%;
        width: 100%;

        padding: 0px 10px 0px 10px;
        .sened-text {
          p {
            color: #242424;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        padding-bottom: 10px;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 10px 20px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;
          width: 80%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .search-results-boxes {
    display: flex;
    flex-wrap: wrap;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 23%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      .sened-image {
        text-align: center;
        padding: 20px 10px 10px 10px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 10px 0px 10px;
        min-width: 100%;
        width: 100%;

        .sened-text {
          p {
            color: #242424;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        padding-bottom: 10px;
        gap: 20px !important;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 8px 16px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 8px 16px;
          width: 80%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .search-results-boxes {
    display: flex;
    flex-wrap: wrap;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 23%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      .sened-image {
        text-align: center;
        padding: 20px 20px 10px 20px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 20px 0px 20px;
        min-width: 100%;
width: 100%;
        .sened-text {
          p {
            color: #242424;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        padding-bottom: 10px;
        gap: 10px !important;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          padding: 10px 20px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;

          width: 80%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-results-boxes {
    display: flex;
    flex-wrap: wrap;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 48%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      .sened-image {
        text-align: center;
        padding: 30px 20px 10px 20px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 20px 0px 20px;
        min-width: 100%;
        width: 100%;

        .sened-text {
          p {
            color: #242424;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        padding-bottom: 10px;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 30px;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 30px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .search-results-boxes {
    display: flex;
    flex-wrap: wrap;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 48%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      .sened-image {
        text-align: center;
        padding: 30px 20px 10px 20px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 20px 0px 20px;
        min-width: 100%;
        width: 100%;

        .sened-text {
          p {
            color: #242424;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        padding-bottom: 10px;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 407px) and (max-width: 575px) {
  .search-results-boxes {
    display: flex;
    flex-direction: column;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 90%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      .sened-image {
        text-align: center;
        padding: 30px 20px 10px 20px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 20px 0px 20px;
        min-width: 100%;
        width: 100%;

        .sened-text {
          p {
            color: #242424;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 10px;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 406px) {
  .search-results-boxes {
    display: flex;
    flex-direction: column;
    .col-lg-3 {
      flex: 0 0 auto;
      width: 100%;
    }

    .sened-box {
      margin-bottom: 30px;
      border: 1px solid #d9d7d7;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      .sened-image {
        text-align: center;
        padding: 30px 20px 10px 20px;
        img {
          border: 1px solid #929292;
          border-radius: 8px;
        }
      }

      .sened-box-body {
        padding: 0px 20px 0px 20px;
        min-width: 100%;
        width: 100%;

        .sened-text {
          text-align: left;
          p {
            color: #242424;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
          }
          margin-bottom: 20px;
        }
      }

      .sened-buttons {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 10px;

        .box-details-btn {
          border-radius: 8px;
          border: 1px solid #7189bf;
          color: #7189bf;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
        }

        .download-btn {
          border-radius: 8px;
          background: #7189bf;
          color: #f2f7fb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          display: flex;
          padding: 10px 20px;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.search-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  .search-not-found-icon {
    img {
      max-width: 200px;
      max-height: 300px;
    }
  }
}

.no-search-results-text {
  color: #242424;
  font-size: 24px;
  font-weight: 400;
}

.search-results-text-box {
  padding-bottom: 10px;
  padding-top: 10px;

  h1 {
    color: #242424;
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
  }

  a {
    color: #7189bf;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: underline;
    text-decoration: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.pagination a {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 2px;
  border-radius: 5px;
  text-decoration: none;
  color: #242424;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}

.pagination a:hover {
  background-color: #f2f2f2;
}

.pagination .active {
  a {
    color: #5c71a6;
  }
}

.d-none {
  display: none !important;
}
