@import './_erize';
@import './search';
@import './error';
@import './erizedetails';
@import './about';
@import './allerizeler';
@import './adminpanel';
@import './categorydetails';
@import './cv';
@import './alldocumentsadmin';
@import './faq';
@import './test';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.justify-content-center {
  justify-content: center;
}

.container {
  width: 70%; /* Set the width to match the HomeNavbar */
  margin: 0 auto; /* Center the container horizontally */
}

.container-new {
  width: 80%;
  margin: 0 auto;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.me-20 {
  margin-right: 20px !important;
}

.ms-20 {
  margin-left: 20px !important;
}

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pb-150 {
  padding-bottom: 150px !important;
}

.row {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

// ENTER PAGE SCSS

// Extra large

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

@media (min-width: 1200px) {
  .sidebar {
    display: none;
  }

  .mobile-menu-icon {
    display: none;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 31.33333333%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 24%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }
  #home {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .home-navbar {
    display: flex;
    background: #baaeae1c;

    align-items: center;
    justify-content: center;
    min-height: 64px;
    .home-navbar__text {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .page-content {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 48%;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-content__boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s;

        &:hover {
          background: #7189bf;
          .text-box {
            color: #f1fcfb;
          }
        }

        &.home-box-2 {
          &:hover {
            background: #11908b;
            .text-box {
              color: #f1fcfb;
            }
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #242424;
        text-align: center;

        h1 {
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  .home-foot {
    background: #181717;
    margin-top: 20px;
    li {
      list-style-type: none;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 25%;
    }
    .foot__top {
      padding-top: 30px;
      display: flex;
      justify-content: space-evenly;

      .social {
        align-items: center;
        display: flex;
        height: 24px;
        a {
          align-items: center;
          display: flex;
          margin-right: 23px;
        }
      }

      .foot__item {
        .footItem__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 20px;
          margin-bottom: 25px;
          color: #f2f7fb;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 16px;
              outline: none;
              text-decoration: none;
              transition: 0.3s;
              color: #c5bdbd;
            }
          }
        }

        .footItem__text {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.02em;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            outline: none;
            text-decoration: none;
            transition: 0.3s;
            color: #c5bdbd;
          }
        }
      }
    }
    .foot__bottom {
      align-items: center;
      color: #f2f7fb;

      display: flex;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -0.02em;
      line-height: 16px;
    }
  }
}

// Large

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    display: none;
  }

  .mobile-menu-icon {
    display: none;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 31.33333333%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 48%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
  }

  #home {
    .page-content {
      .page-content__boxes {
        display: flex;
        flex-direction: row;
      }
      .text-box {
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
          font-size: 26px;
        }
        p {
          margin-top: 20px;
        }
      }
    }
  }

  #home {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .home-navbar {
    display: flex;
    background: #baaeae1c;

    align-items: center;
    justify-content: center;
    min-height: 64px;
    .home-navbar__text {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .page-content {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 48%;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-content__boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s;

        &:hover {
          background: #7189bf;
          .text-box {
            color: #f1fcfb;
          }
        }

        &.home-box-2 {
          &:hover {
            background: #11908b;
            .text-box {
              color: #f1fcfb;
            }
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #242424;
        text-align: center;

        h1 {
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  .home-foot {
    background: #181717;
    margin-top: 70px;
    li {
      list-style-type: none;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 25%;
    }
    .foot__top {
      padding-bottom: 30px;
      padding-top: 50px;
      display: flex;
      justify-content: space-evenly;

      .social {
        align-items: center;
        display: flex;
        height: 24px;
        a {
          align-items: center;
          display: flex;
          margin-right: 23px;
        }
      }

      .foot__item {
        .footItem__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 20px;
          margin-bottom: 25px;
          color: #f2f7fb;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 16px;
              outline: none;
              text-decoration: none;
              transition: 0.3s;
              color: #c5bdbd;
            }
          }
        }

        .footItem__text {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.02em;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            outline: none;
            text-decoration: none;
            transition: 0.3s;
            color: #c5bdbd;
          }
        }
      }
    }
    .foot__bottom {
      align-items: center;
      color: #f2f7fb;

      display: flex;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -0.02em;
      line-height: 16px;
    }
  }
}

// Medium

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 50%;
  }

  .links {
    display: none;
  }

  .home-foot {
    background: #181717;
    margin-top: 70px;
    li {
      list-style-type: none;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 50%;
    }
    .foot__top {
      padding-bottom: 30px;
      padding-top: 50px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .social {
        align-items: center;
        display: flex;
        height: 24px;
        a {
          align-items: center;
          display: flex;
          margin-right: 23px;
        }
      }

      .foot__item {
        padding-bottom: 30px;
        .footItem__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 20px;
          margin-bottom: 25px;
          color: #f2f7fb;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 16px;
              outline: none;
              text-decoration: none;
              transition: 0.3s;
              color: #c5bdbd;
            }
          }
        }

        .footItem__text {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.02em;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            outline: none;
            text-decoration: none;
            transition: 0.3s;
            color: #c5bdbd;
          }
        }
      }
    }
    .foot__bottom {
      align-items: center;
      color: #f2f7fb;

      display: flex;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -0.02em;
      line-height: 16px;
    }
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 48%;
  }

  #home {
    .page-content {
      .page-content__boxes {
        display: flex;
        .box {
          height: 360px;
        }
      }
      .text-box {
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;

        h1 {
          font-size: 20px;
        }
        p {
          margin-top: 20px;
        }
      }
    }
  }

  #home {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .home-navbar {
    display: flex;
    background: #baaeae1c;

    align-items: center;
    justify-content: center;
    min-height: 64px;
    .home-navbar__text {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .page-content {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 48%;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-content__boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s;

        &:hover {
          background: #7189bf;
          .text-box {
            color: #f1fcfb;
          }
        }

        &.home-box-2 {
          &:hover {
            background: #11908b;
            .text-box {
              color: #f1fcfb;
            }
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #242424;
        text-align: center;

        h1 {
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  header {
    /* Navbar container */
    .container {
      position: relative;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }

    .sidebar.open {
      transform: translateX(0);
    }

    .sidebar-content {
      padding: 20px;

      .sidebar-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        .logo-text {
          color: #272f3f;
          font-style: normal;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .sidebar-links {
        display: flex;
        flex-direction: column;
        a {
          padding-bottom: 15px;
          padding-top: 15px;
          border-bottom: 1px solid #d9d9d9;
          color: #242424;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 900;
      display: none;
    }

    .overlay.active {
      display: block;
    }
  }
}

// Small

@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 48%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  #home {
    .page-content {
      .page-content__boxes {
        display: flex;
        flex-direction: column;
        .box {
          height: 280px;
        }
      }
      .text-box {
        width: 80%;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;

        h1 {
          font-size: 25px;
        }
        p {
          margin-top: 20px;
          font-size: 15px;
        }
      }
    }
  }

  #home {
    .col-sm-12 {
      flex: 0 0 auto;
      width: 100% !important;
    }
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .home-navbar {
    display: flex;
    background: #baaeae1c;

    align-items: center;
    justify-content: center;
    min-height: 64px;
    .home-navbar__text {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .page-content {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 48%;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-content__boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .home-box-1 {
        background: #7189bf;
        h1,
        p {
          color: #f1fcfb;
        }
      }

      .home-box-2 {
        background: #11908b;
        h1,
        p {
          color: #f1fcfb;
        }
      }
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s;

        &:hover {
          background: #7189bf;
          .text-box {
            color: #f1fcfb;
          }
        }

        &.home-box-2 {
          &:hover {
            background: #11908b;
            .text-box {
              color: #f1fcfb;
            }
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #242424;
        text-align: center;

        h1 {
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }

  .home-foot {
    background: #181717;
    margin-top: 70px;
    li {
      list-style-type: none;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 50%;
    }
    .foot__top {
      padding-bottom: 30px;
      padding-top: 50px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .social {
        align-items: center;
        display: flex;
        height: 24px;
        a {
          align-items: center;
          display: flex;
          margin-right: 23px;
        }
      }

      .foot__item {
        padding-bottom: 30px;
        .footItem__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 20px;
          margin-bottom: 25px;
          color: #f2f7fb;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 16px;
              outline: none;
              text-decoration: none;
              transition: 0.3s;
              color: #c5bdbd;
            }
          }
        }

        .footItem__text {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.02em;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            outline: none;
            text-decoration: none;
            transition: 0.3s;
            color: #c5bdbd;
          }
        }
      }
    }
    .foot__bottom {
      align-items: center;
      color: #f2f7fb;

      display: flex;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -0.02em;
      line-height: 16px;
    }
  }

  header {
    /* Navbar container */
    .container {
      position: relative;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }

    .sidebar.open {
      transform: translateX(0);
    }

    .sidebar-content {
      padding: 20px;

      .sidebar-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        .logo-text {
          color: #272f3f;
          font-style: normal;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .sidebar-links {
        display: flex;
        flex-direction: column;
        a {
          padding-bottom: 15px;
          padding-top: 15px;
          border-bottom: 1px solid #d9d9d9;
          color: #242424;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 900;
      display: none;
    }

    .overlay.active {
      display: block;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

// Extra small
@media (max-width: 575px) {
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }

  #home {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .home-navbar {
    display: flex;
    background: #baaeae1c;

    align-items: center;
    justify-content: center;
    min-height: 64px;
    .home-navbar__text {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .page-content {
    .col-lg-6 {
      flex: 0 0 auto;
      width: 48%;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .page-content__boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        transition: background-color 0.3s;

        &:hover {
          background: #7189bf;
          .text-box {
            color: #f1fcfb;
          }
        }

        &.home-box-2 {
          &:hover {
            background: #11908b;
            .text-box {
              color: #f1fcfb;
            }
          }
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
        color: #242424;
        text-align: center;

        h1 {
          font-size: 30px;
          font-weight: 500;
          text-align: center;
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
  .home-foot {
    background: #181717;
    margin-top: 70px;
    li {
      list-style-type: none;
    }

    .col-4 {
      flex: 0 0 auto;
      width: 100%;
    }
    .foot__top {
      padding-bottom: 30px;
      padding-top: 50px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .social {
        align-items: center;
        display: flex;
        height: 24px;
        a {
          align-items: center;
          display: flex;
          margin-right: 23px;
        }
      }

      .foot__item {
        padding-bottom: 30px;
        .footItem__title {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: -0.02em;
          line-height: 20px;
          margin-bottom: 25px;
          color: #f2f7fb;
        }

        ul {
          li {
            margin-bottom: 10px;

            a {
              font-size: 15px;
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 16px;
              outline: none;
              text-decoration: none;
              transition: 0.3s;
              color: #c5bdbd;
            }
          }
        }

        .footItem__text {
          font-size: 15px;
          font-weight: 500;
          letter-spacing: -0.02em;
          line-height: 16px;
          margin-bottom: 15px;
          a {
            outline: none;
            text-decoration: none;
            transition: 0.3s;
            color: #c5bdbd;
          }
        }
      }
    }
    .foot__bottom {
      align-items: center;
      color: #f2f7fb;

      display: flex;
      font-size: 16px;
      font-weight: 500;
      height: 50px;
      justify-content: center;
      letter-spacing: -0.02em;
      line-height: 16px;
    }
  }
  #home {
    .col-xs-12 {
      flex: 0 0 auto;
      width: 100% !important;
    }
    .page-content {
      .page-content__boxes {
        .home-box-1 {
          background: #7189bf;
          h1,
          p {
            color: #f1fcfb;
          }
        }

        .home-box-2 {
          background: #11908b;
          h1,
          p {
            color: #f1fcfb;
          }
        }
        display: flex;
        flex-direction: column;

        .box {
          height: 250px;
        }
      }
      .text-box {
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;

        h1 {
          font-size: 20px;
        }
        p {
          margin-top: 20px;
          font-size: 15px;
        }
      }
    }
  }

  header {
    /* Navbar container */
    .container {
      position: relative;
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 0.3s ease;
    }

    .sidebar.open {
      transform: translateX(0);
    }

    .sidebar-content {
      padding: 20px;

      .sidebar-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        .logo-text {
          color: #272f3f;
          font-style: normal;
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .sidebar-links {
        display: flex;
        flex-direction: column;
        a {
          padding-bottom: 15px;
          padding-top: 15px;
          border-bottom: 1px solid #d9d9d9;
          color: #242424;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 900;
      display: none;
    }

    .overlay.active {
      display: block;
    }
  }
}

.box {
  height: 482px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-heading-box {
  padding-top: 50px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px;
}

.templates {
  display: flex;
  padding-top: 20px;
  padding-bottom: 186px;
  .template-box {
    .img {
      display: flex;
      align-self: center;
      justify-content: center;
    }
    img {
      height: 350px;
    }
  }

  .button-box {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.after-v {
  color: #1e57dd !important;
}

.fayl-download {
  color: red !important;
}

.WACStatusBarContainer {
  display: none;
  background-color: #ffffff;
}

.UISmallFont {
  display: none;
}
