.search-area {
  width: 100%;
  height: 100%;

  .search-area-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .search-area-box {
      margin: 5% 12.5% 7.5% 12.5%;
    }

    .search-area-text-box {
      padding-bottom: 65px;
      text-align: center;
      // sat means- search area text
      .sat-1 {
        color: #2e3138;
        text-align: center;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        margin-bottom: 5px;
        span {
          color: #7189bf;
        }
      }

      .sat-2 {
        color: #242424;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
      }
    }
    .search-area-input-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;

      #main-search-input {
        border-radius: 8px;
        border: 1px solid #9f9f9f;
        display: flex;
        width: 448px;
        padding: 13px 16px 17px 15px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-right: 20px;
      }

      .search-btn {
        display: flex;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #7189bf;
        color: #fff;
        border-color: transparent;
        font-size: 18px;
        font-weight: 400;

        .search-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.information-banner-content {
  border-radius: 8px;
  background: #86a2ce;

  .information-banner-box {
    width: 100%;
    display: inline-flex;
    padding: 36px 130px 36px 139px;
    justify-content: center;
    align-items: center;

    .col-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-box {
        p {
          color: #f2f7fb;
          text-align: center;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
        }
        p:first-child {
          margin-bottom: 5px;
        }
      }
    }
  }
}

// Spesific Categories SCSS

.spesific-categories {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  .col-4 {
    flex: 0 0 auto;
    width: 28%;
  }
  .spesific-categories-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .spesific-categories-heading-box {
      padding-bottom: 60px;
      p {
        color: #242424;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .spesific-categories-category-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 50px;
      .category-box {
        min-height: 180px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 8px 16px 0px rgba(215, 215, 215, 0.557);
        display: flex;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 30px;
        .category-box__heading-box {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          padding-bottom: 10px;
          p {
            color: #242424;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
          }
        }
        .category-box__body-text {
          color: #242424;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          align-self: stretch;
        }

        .category-box__footer-box {
          display: flex;
          align-items: center;
          justify-self: center;
          padding: 10px 0 10px 0;
          p {
            color: #ed8022;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
          }
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// About us SCSS

.about-us-banner {
  width: 100%;
  height: 100%;
  padding-top: 80px;

  .about-us-content {
    width: 100%;

    .about-us-content-box {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .right-side-box,
      .left-side-box {
        height: 285px;
      }

      .left-side-box {
        width: 40%;
        border-radius: 8px;
        background: #fadbae;
        display: flex;
        justify-content: center;

        .box-content {
          width: 80%;
          padding-top: 30px;
          .box-heading {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            p {
              color: #242424;
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              margin-left: 10px;
            }
          }
          .box-body {
            .text-box {
              display: flex;
              .icon-box {
                margin-right: 10px;
              }
            }
          }
        }
      }
      .right-side-box {
        width: 57%;
        border-radius: 8px;
        background: #d5e4f0;
        display: flex;
        justify-content: center;
        .box-content {
          width: 80%;
          padding-top: 30px;
          .box-heading {
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            p {
              color: #242424;
              font-size: 16px;
              font-weight: 600;
              line-height: 20px;
              margin-left: 10px;
            }
          }
          .box-body {
            .text-box {
              display: flex;
              padding-top: 10px;
              img {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// Compnay Logos SCSS
.company-logos {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  .company-logos-content {
    width: 100%;
    display: flex;
    justify-content: center;
    .slider-container {
      width: 100%;

      .slider-box {
        display: flex !important;
        justify-content: center;
        min-height: 90px;

        align-items: center;
      }
    }
  }
}

// Mostly used Documents SCSS
.mostly-used-documents {
  padding-top: 60px;
  padding-bottom: 60px;

  .mostly-used-documents-heading-box {
    p {
      color: #000;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
    }
    padding-bottom: 20px;
  }

  .mostly-used-documents-box {
    display: flex;
    flex-wrap: wrap;
    .col-3 {
      flex: 0 0 auto;
      width: 23%;
    }

    .document-box {
      .action-buttons {
        a {
          display: none !important;
          visibility: hidden !important;
        }
      }

      &:hover {
        transition: all 1s ease; /* Adjust the duration (0.5s) as needed */

        .action-buttons {
          a {
            visibility: visible !important;
            display: block !important;
            cursor: pointer;
          }
        }

        .document-main-box-header {
          width: 100%;
          height: 10% !important;
        }
        .document-main-box-body {
          height: 20% !important;
        }
        .document-main-box-footer {
          transition: visibility 1s ease;
          width: 100%;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            white-space: normal;
            overflow: visible;
          }
        }

        .action-buttons {
          display: flex;
          justify-content: space-between;
          padding-top: 50px;
        }

        .box-details-btn {
          color: #7189bf;
          font-size: 20px;
          font-weight: 400;
          border-radius: 8px;
          border: 1px solid #7189bf;
          display: flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
          max-height: 48px;
        }

        .download-btn {
          cursor: pointer;
          display: flex;
          padding: 15px 30px;
          justify-content: center;
          align-items: center;
          color: #f2f7fb;
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          border-radius: 8px;
          max-height: 48px;
          background: #7189bf;
        }
      }
    }

    .document-box {
      border-radius: 8px;
      border: 1px solid #929292;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      height: 355px;
      margin-right: 24px;

      .document-main-box {
        width: 100%;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;

        .document-main-box-header {
          padding-bottom: 10px;
          width: 100%;
          padding-top: 10px;
          height: 10% !important;
        }
        .document-main-box-body {
          width: 90%;
          // height: 65% !important;
          flex-grow: 1;
          border-radius: 16px;
          padding-top: 10px;
          padding-bottom: 10px;
          border: 1px solid #929292;
          position: relative;
          top: 20px;
        }
      }

      .document-main-box-footer {
        // height: 25%;
        width: 100%;
        padding: 20px 20px 20px;
        flex-shrink: 0;
        box-sizing: border-box !important;
        background: linear-gradient(
          180deg,
          rgba(253, 253, 253, 0.8) 0%,
          rgba(253, 253, 253, 0.5) 100%
        );

        backdrop-filter: blur(3px);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: left;
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .pagination-box {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;

    .left-icon {
      margin-right: 10px;
      cursor: pointer;
    }
    .right-icon {
      cursor: pointer;
    }
  }
}

// Main Footer

footer {
  background: #1a2232;

  .foot__top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 15px 0;

    .foot-top__left {
      p {
        color: #f2f7fb;
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
      }
    }

    .foot-top__right {
      display: flex;
      align-items: center;

      .number-box {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }

  .foot__bottom {
    background: #18202e !important;
    ul {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
      li {
        list-style: none;
        border-right: 1px solid #f2f7fb;

        &:last-child {
          border-right: none;
        }
        a {
          color: #fff;
          margin-right: 20px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

// Main Navbar

header {
  padding-top: 15px;
  padding-bottom: 15px;
  .nav {
    display: flex;
    justify-content: space-between;
    .logo-text {
      color: #272f3f;
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
    }

    .links {
      a {
        color: #242424;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 60px;
      }
    }
  }
}

.ant-input-outlined {
  min-height: 48px !important;
  width: 96% !important;
  border-radius: 8px !important;
  border: 1px solid #9f9f9f !important;
}

.ant-input-group {
  min-width: 600px;
}
