.search-area {
  width: 100%;
  height: 100%;
}
.search-area .search-area-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.search-area .search-area-content .search-area-box {
  margin: 5% 12.5% 7.5% 12.5%;
}
.search-area .search-area-content .search-area-text-box {
  padding-bottom: 65px;
  text-align: center;
}
.search-area .search-area-content .search-area-text-box .sat-1 {
  color: #2e3138;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 5px;
}
.search-area .search-area-content .search-area-text-box .sat-1 span {
  color: #7189bf;
}
.search-area .search-area-content .search-area-text-box .sat-2 {
  color: #242424;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}
.search-area .search-area-content .search-area-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
.search-area .search-area-content .search-area-input-box #main-search-input {
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  display: flex;
  width: 448px;
  padding: 13px 16px 17px 15px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
}
.search-area .search-area-content .search-area-input-box .search-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #7189bf;
  color: #fff;
  border-color: transparent;
  font-size: 18px;
  font-weight: 400;
}
.search-area .search-area-content .search-area-input-box .search-btn .search-icon {
  width: 24px;
  height: 24px;
}

.information-banner-content {
  border-radius: 8px;
  background: #86a2ce;
}
.information-banner-content .information-banner-box {
  width: 100%;
  display: inline-flex;
  padding: 36px 130px 36px 139px;
  justify-content: center;
  align-items: center;
}
.information-banner-content .information-banner-box .col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information-banner-content .information-banner-box .col-4 .text-box p {
  color: #f2f7fb;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.information-banner-content .information-banner-box .col-4 .text-box p:first-child {
  margin-bottom: 5px;
}

.spesific-categories {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}
.spesific-categories .col-4 {
  flex: 0 0 auto;
  width: 28%;
}
.spesific-categories .spesific-categories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spesific-categories .spesific-categories-content .spesific-categories-heading-box {
  padding-bottom: 60px;
}
.spesific-categories .spesific-categories-content .spesific-categories-heading-box p {
  color: #242424;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box {
  min-height: 180px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(215, 215, 215, 0.557);
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 30px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 10px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__heading-box p {
  color: #242424;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__body-text {
  color: #242424;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__footer-box {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 10px 0 10px 0;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__footer-box p {
  color: #ed8022;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.spesific-categories .spesific-categories-content .spesific-categories-category-box .category-box .category-box__footer-box img {
  margin-left: 10px;
}

.about-us-banner {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}
.about-us-banner .about-us-content {
  width: 100%;
}
.about-us-banner .about-us-content .about-us-content-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box,
.about-us-banner .about-us-content .about-us-content-box .left-side-box {
  height: 285px;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box {
  width: 40%;
  border-radius: 8px;
  background: #fadbae;
  display: flex;
  justify-content: center;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box .box-content {
  width: 80%;
  padding-top: 30px;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box .box-content .box-heading {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box .box-content .box-heading p {
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box .box-content .box-body .text-box {
  display: flex;
}
.about-us-banner .about-us-content .about-us-content-box .left-side-box .box-content .box-body .text-box .icon-box {
  margin-right: 10px;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box {
  width: 57%;
  border-radius: 8px;
  background: #d5e4f0;
  display: flex;
  justify-content: center;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box .box-content {
  width: 80%;
  padding-top: 30px;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box .box-content .box-heading {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box .box-content .box-heading p {
  color: #242424;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box .box-content .box-body .text-box {
  display: flex;
  padding-top: 10px;
}
.about-us-banner .about-us-content .about-us-content-box .right-side-box .box-content .box-body .text-box img {
  margin-right: 10px;
}

.company-logos {
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
}
.company-logos .company-logos-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.company-logos .company-logos-content .slider-container {
  width: 100%;
}
.company-logos .company-logos-content .slider-container .slider-box {
  display: flex !important;
  justify-content: center;
  min-height: 90px;
  align-items: center;
}

.mostly-used-documents {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mostly-used-documents .mostly-used-documents-heading-box {
  padding-bottom: 20px;
}
.mostly-used-documents .mostly-used-documents-heading-box p {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.mostly-used-documents .mostly-used-documents-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mostly-used-documents .mostly-used-documents-box .col-3 {
  flex: 0 0 auto;
  width: 23%;
}
.mostly-used-documents .mostly-used-documents-box .document-box .action-buttons a {
  display: none !important;
  visibility: hidden !important;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover {
  transition: all 1s ease; /* Adjust the duration (0.5s) as needed */
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .action-buttons a {
  visibility: visible !important;
  display: block !important;
  cursor: pointer;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .document-main-box-header {
  width: 100%;
  height: 10% !important;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .document-main-box-body {
  height: 20% !important;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .document-main-box-footer {
  transition: visibility 1s ease;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .document-main-box-footer p {
  white-space: normal;
  overflow: visible;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .action-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .box-details-btn {
  color: #7189bf;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #7189bf;
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  max-height: 48px;
}
.mostly-used-documents .mostly-used-documents-box .document-box:hover .download-btn {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: #f2f7fb;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  max-height: 48px;
  background: #7189bf;
}
.mostly-used-documents .mostly-used-documents-box .document-box {
  border-radius: 8px;
  border: 1px solid #929292;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 355px;
}
.mostly-used-documents .mostly-used-documents-box .document-box .document-main-box {
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.mostly-used-documents .mostly-used-documents-box .document-box .document-main-box .document-main-box-header {
  padding-bottom: 10px;
  width: 100%;
  padding-top: 10px;
  height: 10% !important;
}
.mostly-used-documents .mostly-used-documents-box .document-box .document-main-box .document-main-box-body {
  width: 90%;
  flex-grow: 1;
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #929292;
  position: relative;
  top: 20px;
}
.mostly-used-documents .mostly-used-documents-box .document-box .document-main-box-footer {
  width: 100%;
  padding: 20px 20px 20px;
  flex-shrink: 0;
  box-sizing: border-box !important;
  background: linear-gradient(180deg, #f2f7fb 0%, rgba(242, 247, 251, 0.5) 100%);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
}
.mostly-used-documents .mostly-used-documents-box .document-box .document-main-box-footer p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}
.mostly-used-documents .pagination-box {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 24px;
}
.mostly-used-documents .pagination-box .left-icon {
  margin-right: 10px;
  cursor: pointer;
}
.mostly-used-documents .pagination-box .right-icon {
  cursor: pointer;
}

footer {
  background: #1a2232;
}
footer .foot__top {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 15px 0;
}
footer .foot__top .foot-top__left p {
  color: #f2f7fb;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}
footer .foot__top .foot-top__right {
  display: flex;
  align-items: center;
}
footer .foot__top .foot-top__right .number-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .foot__top .foot-top__right .number-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
footer .foot__bottom {
  background: #18202e !important;
}
footer .foot__bottom ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
footer .foot__bottom ul li {
  list-style: none;
  border-right: 1px solid #f2f7fb;
}
footer .foot__bottom ul li:last-child {
  border-right: none;
}
footer .foot__bottom ul li a {
  color: #fff;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .nav {
  display: flex;
  justify-content: space-between;
}
header .nav .logo-text {
  color: #272f3f;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
header .nav .links a {
  color: #242424;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 60px;
}

.ant-input-outlined {
  min-height: 48px !important;
  width: 96% !important;
  border-radius: 8px !important;
  border: 1px solid #9f9f9f !important;
}

.ant-input-group {
  min-width: 600px;
}

.search-results {
  padding-top: 40px;
}
.search-results .search-results-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.search-results .search-results-boxes .col-3 {
  flex: 0 0 auto;
  width: 23%;
}
.search-results .search-results-boxes .document-box {
  border-radius: 8px;
  border: 1px solid #929292;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 30px 0;
}
.search-results .search-results-boxes .document-box .document-main-box {
  width: 90%;
  border-radius: 16px;
  border: 1px solid #929292;
  text-align: center;
  position: relative;
  top: 20px;
}
.search-results .search-results-boxes .document-box .document-main-box .document-main-box-header {
  padding-bottom: 10px;
  padding-top: 10px;
}
.search-results .search-results-boxes .document-box .document-main-box .document-main-box-body img {
  width: 50%;
}
.search-results .search-results-boxes .document-box .document-main-box-footer {
  width: 100%;
  padding: 20px 20px 20px;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(180deg, #f2f7fb 0%, rgba(242, 247, 251, 0.5) 100%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
}

.search-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-not-found .search-not-found-icon {
  padding-top: 74.5px;
  padding-bottom: 74.5px;
}
.search-not-found .search-not-found-icon img {
  max-width: 400px;
  max-height: 500px;
}

.no-search-results-text {
  color: #242424;
  font-size: 24px;
  font-weight: 400;
}

.search-results-text-box a {
  color: #7189bf;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
  margin-left: 10px;
}

#error {
  height: 75.8vh;
}
#error .error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 691px;
}
#error .error-page-content .error-page-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 60px;
}
#error .error-page-content .error-page-text-box #error-icon {
  color: #000;
  font-size: 80px;
  font-weight: 600;
  line-height: 88px;
}
#error .error-page-content .error-page-text-box .error-text {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
#error .error-page-content .error-btn {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #7189bf;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #7189bf;
}

.erize-details-page .erize-details-content .page-box {
  border-radius: 8px;
  border: 1px solid #d5e4f0;
  background: #f2f7fb;
}
.erize-details-page .erize-details-content .page-box .text-box {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 15px 10px 15px 10px;
}
.erize-details-page .erize-details-content .page-box .text-box p:first-child {
  color: #5c71a6;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
}
.erize-details-page .erize-details-content .page-box .text-box .mid-text-s {
  color: #5c71a6;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
  margin-left: 5px;
}
.erize-details-page .erize-details-content .page-box .text-box p:last-child {
  color: #595959;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 5px;
}
.erize-details-page .erize-details-content .erize-details-action-box {
  min-height: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: end;
  width: 100%;
}
.erize-details-page .erize-details-content .erize-details-action-box .action-buttons-box {
  display: flex;
}
.erize-details-page .erize-details-content .erize-details-action-box .action-buttons-box .download-btn {
  background: #7189bf;
  color: #f2f7fb;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.erize-details-page .erize-details-content .erize-details-action-box .action-buttons-box .edit-btn {
  border: 1px solid #ed8022;
  color: #ed8022;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 16px;
}
.erize-details-page .erize-details-content .erize-details-action-box .action-buttons-box .edit-btn img {
  margin-right: 5px;
}
.erize-details-page .erize-details-content .erize-details-erize-box {
  padding-bottom: 26.5px;
  min-height: 50px;
}
.erize-details-page .erize-details-content .erize-details-erize-box h1 {
  width: 75%;
}

.document-editor {
  min-height: 480px !important;
}
.document-editor .ql-editor {
  padding: 20px 20px !important;
}

.btn {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.about-us .col-4 {
  flex: 0 0 auto;
  width: 25% !important;
}
.about-us .about-us-content .page-nav-box {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #d5e4f0;
  display: flex;
  align-items: center;
  background: #f2f7fb;
  padding: 10px 10px;
}
.about-us .about-us-content .page-nav-box p {
  color: #5c71a6;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.about-us .about-us-content .about-us-box {
  margin-bottom: 50px;
  border-radius: 8px;
  background: #e8f0f7;
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-content .about-us-box .text-box {
  padding: 25px;
  width: 50%;
}
.about-us .about-us-content .about-us-box .text-box p {
  color: #242424;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.about-us .about-us-content .about-us-box .img-box {
  display: flex;
  padding: 15px 25px 15px 25px;
  justify-content: center;
  align-items: center;
}
.about-us .about-us-content .about-us-box .img-box img {
  width: 80%;
  height: 80%;
}
.about-us .about-us-content .information-boxes {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-content .information-boxes .information-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f7fb;
}
.about-us .about-us-content .information-boxes .information-box .box__heading {
  background: #7189bf;
  height: 8px;
  width: 50%;
  margin-bottom: 20px;
}
.about-us .about-us-content .information-boxes .information-box .box__body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .about-us-content .information-boxes .information-box .box__body img {
  padding-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.container {
  width: 70%; /* Set the width to match the HomeNavbar */
  margin: 0 auto; /* Center the container horizontally */
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.me-20 {
  margin-right: 20px !important;
}

.ms-20 {
  margin-left: 20px !important;
}

.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

#home {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-navbar {
  flex: 0 0 6.8%;
  display: flex;
  background: rgba(82, 70, 70, 0.1098039216);
  align-items: center;
  justify-content: center;
  height: 64px;
}
.home-navbar .home-navbar__text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.home-footer {
  width: 100%;
  display: flex;
  min-height: 120px;
  background: #2e3138;
  color: #ffffff;
  font-size: 15px;
}
.home-footer .home-footer__box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-footer .home-footer__logo {
  display: flex;
  align-items: center;
}
.home-footer .home-footer__logo h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.home-footer .home-footer__menu {
  display: flex;
}
.home-footer .home-footer__menu h1 {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.home-footer .home-footer__contact {
  display: flex;
  align-items: center;
  justify-content: end;
}
.home-footer .home-footer__contact .number-box {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer .home-footer__contact .number-box img {
  margin-right: 10px;
}

.page-content {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-content .page-content__boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.page-content .page-content__boxes .box {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}
.page-content .page-content__boxes .box:hover {
  background: #1aacac;
}
.page-content .page-content__boxes .box.home-box-2:hover {
  background: #7189bf;
}
.page-content .page-content__boxes .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  color: #242424;
}
.page-content .page-content__boxes .text-box h1 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}
.page-content .page-content__boxes .text-box p {
  margin-top: 20px;
}

.box {
  height: 482px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */